<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>

    <div class="container mt-5">
      <h4>Sebet</h4>
      <div class="basket-pg-wrapper el-center">
        <div class="w-100">

        <% basket.map(prod=>{ %>
            <div class="bordered row el-center">
              <!-- !img -->
              <div class="basket-pg-image col-md-2">
                <% if(prod.Link!==undefined){ %>
                  <img height="40" src="/img/<%= (prod.Link) %>"" alt="">
                <%}
                else{%>
                    <img src="/img/th.png" alt="">
                <% }%>
              </div>
              <!-- !name -->
              <div class="basket-pg-product-info col-md-3">
                <div class="basket-pg-product-barcode"><%=prod.MainCode%></div>
                <div class="basket-pg-product-name"><%=prod.ProductName%></div>
              </div>
              <!-- !product price -->
              <div class="basket-pg-product-price">
                <div>Dene Qiymeti</div>
                <div class="bold-price"><%=prod.SellingPrice%>₼</div>
              </div>
              <!-- !buttons -->
              <div class="basket-pg-product-price-operations  col-md-2">
  
                <button class="btn quantity-btns secondary">+</button>
  
                <span class="basket-pg-quantity"><%=prod.productCount%></span>
  
                <button class="btn quantity-btns secondary">-</button>
  
              </div>
              <!-- !total price -->
              <div class="basket-pg-total-price col-md-2">
                <div>Umumi mebleg</div>
                <div class="bold-price" >2000.00₼</div>
              </div>
              <!-- !delete product -->
              <div class="basket-pg-product-delete col-md-1">
                  x
              </div>
            </div>
            <hr width="90%" style="margin: 0 auto;">
      <% }) %> 
    </div>
      </div>
    </div>
  
</body>

</html>