<%- include("partials/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Products</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Qr</th>
            <th scope="col">Ad</th>
            <th scope="col">Miqdar</th>
            <th scope="col">OlcuVahidi</th>
            <th scope="col">Alis Qiymeti</th>
            <th scope="col">Satis Qiymeti</th>
            <th scope="col">Sekil</th>
          </tr>
        </thead>
        <tbody>
            <% products.map(product=>{ %>
                <tr>
                    <th scope="row"> <%=product.MainCode %> </th>
                    <td> <%=product.ProductName %> </td>
                    <td> <%=product.NumberOfProducts %> </td>
                   <% if(product.UnitOfMeasurment==="number"){ %>
                    <td> Eded </td>
                   <% } else if(product.UnitOfMeasurment==="meter"){ %>
                      <td>Metr</td>
                 <%  } else { %>
                    <td>Paket</td>
                <% } %> 
                    <td> <%=product.PurchasePrice %> </td>
                    <td> <%=product.SellingPrice %> </td>
                    <td class="product-img-content" ><img  width="80" src="/img/<%= (product.Link) %>"" alt=""></td>
               
                  </tr>
                <!-- <div></div> -->
              <%} )%>
         
        </tbody>
      </table>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>